
<style>
  html {
    background-color: #ECEBE6;
  }
  body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 20px;
    padding-top: 50px;
    font-family: "Helvetica Neue";
    background-color: white;
    border-right: 10px solid #ddd;
    text-align: center;
  }
  h1 {
    color: #1B8DFA;
    font-size: 3em;
  }
  h2 {
    color: #F72923;
  }
  p {
    padding: 5px;
  }

  table {
  }
  tr.header td {
    border-bottom: 1px solid black;
  }
  td.name {
    font-weight: bold;
  }
  td {
    width: 100px;
    padding: 5px;
    margin: 0;
  }

  .docs {
    text-align: left;
  }

</style>
<h1>Goatpress</h1>

<h2>Score Table</h2>
<table>
  <tr class=header>
    <td>Name</td>
    <td>Score</td>
    <td>Games</td>
    <td>Moves</td>
    <td>Wins</td>
    <td>Draws</td>
    <td>Losses</td>
    <td>Av Time (ms)</td>
  </td>

  {{range .Players}}
    <tr>
      <td class=name>{{.Name}}</td>
      <td>{{.Score}}</td>
      <td>{{.Games}}</td>
      <td>{{.Moves}}</td>
      <td>{{.Wins}}</td>
      <td>{{.Draws}}</td>
      <td>{{.Losses}}</td>
      <td>{{.MeanTime}}</td>
    </tr>
  {{end}}
</table>

<br/>
<br/>
<h2>Matchoff Table</h2>
<table>
  <tr class=header>
    <td>Who over who</td><td>Count</td>
  </tr>
  {{range .MatchOffs}}
    <tr>
      <td class=name>{{.People}}</td>
      <td>{{.Count}}</td>
    </tr>
  {{end}}
</table>
<h2>Docs</h2>

<div class=docs>
  <p>The Letterpress TCP server is available at <code>of1-dev-dan:4123</code>. 
  It uses a adhoc, custom, ghetto ascii protocol.</p>
  <p>Rules are the same as in Letterpress iOS game.</p>
  <p><b>Server messages</b> The message format looks like this:</p>
  <pre><code>[INFO] ; [QUESTION ?] \n</code></pre>
  <p>A board looks like this: <code>nnaou mkhuu ifnfg baurn cruil</code></p>
  <p>Board coloring is also send. If you move first you are player 1.</p>
  <p><b>Responses</b>
  <p>If you are asked a question you must respond.
  Your response should terminate with a newline:</p>
  <ul>
    <li><b>Name?</b> Reply with your players name (with ruby variable naming rules)</li>
    <li><b>Ping?</b> Reply with <code>pong</code></li>
    <li><b>Move?</b> Reply with <code>move:43,12,31</code> meaning, in the case of the example board above, "iha",
    or alternatively <code>pass</code>.</li>
  </ul>
  <p>A badly formatted reply to a move question is an automatic pass.<br />
  A badly formatted reply to a pong question is an automatic disconnection.</p>
  <p>Get points for:</p>
  <ul>
    <li>Making a move: 1/10</li>
    <li>Completing a game: 1</li>
    <li>Drawing a game: 1</li>
    <li>Winning a game: 10</li>
  </ul>
  <p>You can start racking up points as soon as your client is able.</p>
</div>




